# OS
.DS_Store

# Editor
.vscode/
.ideaa/

# Dependencies
node_modules

# Config
.env

# Matchstick binaries
tests/.bin/

# Graph CLI
generated/
build/

# Dev Store
docker-data/

# Generated
subgraph.yaml
abis/
